In [9]:
import yfinance as yf
yf.download('AAPL',)
#AAPL是股票代碼

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
1980-12-12,0.098834,0.128348,0.128906,0.128348,0.128348,469033600
1980-12-15,0.093678,0.121652,0.122210,0.121652,0.122210,175884800
1980-12-16,0.086802,0.112723,0.113281,0.112723,0.113281,105728000
1980-12-17,0.088951,0.115513,0.116071,0.115513,0.115513,86441600
1980-12-18,0.091530,0.118862,0.119420,0.118862,0.118862,73449600
...,...,...,...,...,...,...
2024-12-12,247.960007,247.960007,248.740005,245.679993,246.889999,32777500
2024-12-13,248.130005,248.130005,249.289993,246.240005,247.820007,33155300
2024-12-16,251.039993,251.039993,251.380005,247.649994,247.990005,51694800
2024-12-17,253.479996,253.479996,253.830002,249.779999,250.080002,51356400
2024-12-18,248.050003,248.050003,254.279999,247.740005,252.160004,56632600

In [10]:
all_data = {}
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker] = yf.download(ticker)
all_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'AAPL': Price        Adj Close       Close        High         Low        Open  \
 Ticker            AAPL        AAPL        AAPL        AAPL        AAPL
 Date
 1980-12-12    0.098834    0.128348    0.128906    0.128348    0.128348
 1980-12-15    0.093678    0.121652    0.122210    0.121652    0.122210
 1980-12-16    0.086802    0.112723    0.113281    0.112723    0.113281
 1980-12-17    0.088951    0.115513    0.116071    0.115513    0.115513
 1980-12-18    0.091530    0.118862    0.119420    0.118862    0.118862
 ...                ...         ...         ...         ...         ...
 2024-12-12  247.960007  247.960007  248.740005  245.679993  246.889999
 2024-12-13  248.130005  248.130005  249.289993  246.240005  247.820007
 2024-12-16  251.039993  251.039993  251.380005  247.649994  247.990005
 2024-12-17  253.479996  253.479996  253.830002  249.779999  250.080002
 2024-12-18  248.050003  248.050003  254.279999  247.740005  252.160004

 Price          Volume
 Ticker           AAPL
 Date
 1980-12-12  469033600
 1980-12-15  175884800
 1980-12-16  105728000
 1980-12-17   86441600
 1980-12-18   73449600
 ...               ...
 2024-12-12   32777500
 2024-12-13   33155300
 2024-12-16   51694800
 2024-12-17   51356400
 2024-12-18   56632600

 [11097 rows x 6 columns],
 'IBM': Price        Adj Close       Close        High         Low        Open  \
 Ticker             IBM         IBM         IBM         IBM         IBM
 Date
 1962-01-02    1.513320    7.291268    7.374124    7.291268    7.374124
 1962-01-03    1.526549    7.355003    7.355003    7.291268    7.291268
 1962-01-04    1.511336    7.281708    7.355003    7.278521    7.355003
 1962-01-05    1.481573    7.138305    7.272148    7.125558    7.272148
 1962-01-08    1.453793    7.004461    7.131931    6.947100    7.131931
 ...                ...         ...         ...         ...         ...
 2024-12-12  232.259995  232.259995  233.889999  230.380005  230.660004
 2024-12-13  230.820007  230.820007  233.779999  230.259995  232.250000
 2024-12-16  229.330002  229.330002  231.029999  226.880005  230.729996
 2024-12-17  228.970001  228.970001  230.199997  227.619995  229.229996
 2024-12-18  220.169998  220.169998  229.039993  220.029999  229.039993

 Price        Volume
 Ticker          IBM
 Date
 1962-01-02   407940
 1962-01-03   305955
 1962-01-04   274575
 1962-01-05   384405
 1962-01-08   572685
 ...             ...
 2024-12-12  4515700
 2024-12-13  2757400
 2024-12-16  3610300
 2024-12-17  3651300
 2024-12-18  4150400

 [15850 rows x 6 columns],
 'MSFT': Price        Adj Close       Close        High         Low        Open  \
 Ticker            MSFT        MSFT        MSFT        MSFT        MSFT
 Date
 1986-03-13    0.059827    0.097222    0.101563    0.088542    0.088542
 1986-03-14    0.061963    0.100694    0.102431    0.097222    0.097222
 1986-03-17    0.063032    0.102431    0.103299    0.100694    0.100694
 1986-03-18    0.061429    0.099826    0.103299    0.098958    0.102431
 1986-03-19    0.060361    0.098090    0.100694    0.097222    0.099826
 ...                ...         ...         ...         ...         ...
 2024-12-12  449.559998  449.559998  456.160004  449.109985  449.109985
 2024-12-13  447.269989  447.269989  451.429993  445.579987  448.440002
 2024-12-16  451.589996  451.589996  452.179993  445.279999  447.269989
 2024-12-17  454.459991  454.459991  455.290009  449.570007  451.010010
 2024-12-18  437.390015  437.390015  452.649994  437.019989  451.320007

 Price           Volume
 Ticker            MSFT
 Date
 1986-03-13  1031788800
 1986-03-14   308160000
 1986-03-17   133171200
 1986-03-18    67766400
 1986-03-19    47894400
 ...                ...
 2024-12-12    20834800
 2024-12-13    20177800
 2024-12-16    23598800
 2024-12-17    22733500
 2024-12-18    24358600

 [9771 rows x 6 columns],
 'GOOG': Price        Adj Close       Close        High         Low        Open  \
 Ticker            GOOG        GOOG        GOOG        GOOG        GOOG
 Date
 2004-08-19    2.490185    2.499133    2.591785    2.390042    2.490664
 2004-08-20    2.687981    2.697639    2.716817    2.503118    2.515820
 2004-08-23    2.715032    2.724787    2.826406    2.716070    2.758411
 2004-08-24    2.602608    2.611960    2.779581    2.579581    2.770615
 2004-08-25    2.630652    2.640104    2.689918    2.587302    2.614201
 ...                ...         ...         ...         ...         ...
 2024-12-12  193.630005  193.630005  196.705002  193.279999  196.300003
 2024-12-13  191.380005  191.380005  194.339996  191.259995  192.710007
 2024-12-16  198.160004  198.160004  200.639999  194.110001  194.365005
 2024-12-17  197.119995  197.119995  202.880005  196.690002  198.529999
 2024-12-18  190.149994  190.149994  198.690002  189.279999  196.830002

 Price          Volume
 Ticker           GOOG
 Date
 2004-08-19  897427216
 2004-08-20  458857488
 2004-08-23  366857939
 2004-08-24  306396159
 2004-08-25  184645512
 ...               ...
 2024-12-12   25197800
 2024-12-13   18883200
 2024-12-16   32248600
 2024-12-17   24129500
 2024-12-18   27554100

 [5119 rows x 6 columns]}

In [11]:
all_data = {ticker:yf.download(ticker)for ticker in['AAPL','IBM','MSFT','GOOG']}
all_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'AAPL': Price        Adj Close       Close        High         Low        Open  \
 Ticker            AAPL        AAPL        AAPL        AAPL        AAPL
 Date
 1980-12-12    0.098834    0.128348    0.128906    0.128348    0.128348
 1980-12-15    0.093678    0.121652    0.122210    0.121652    0.122210
 1980-12-16    0.086802    0.112723    0.113281    0.112723    0.113281
 1980-12-17    0.088951    0.115513    0.116071    0.115513    0.115513
 1980-12-18    0.091530    0.118862    0.119420    0.118862    0.118862
 ...                ...         ...         ...         ...         ...
 2024-12-12  247.960007  247.960007  248.740005  245.679993  246.889999
 2024-12-13  248.130005  248.130005  249.289993  246.240005  247.820007
 2024-12-16  251.039993  251.039993  251.380005  247.649994  247.990005
 2024-12-17  253.479996  253.479996  253.830002  249.779999  250.080002
 2024-12-18  248.050003  248.050003  254.279999  247.740005  252.160004

 Price          Volume
 Ticker           AAPL
 Date
 1980-12-12  469033600
 1980-12-15  175884800
 1980-12-16  105728000
 1980-12-17   86441600
 1980-12-18   73449600
 ...               ...
 2024-12-12   32777500
 2024-12-13   33155300
 2024-12-16   51694800
 2024-12-17   51356400
 2024-12-18   56632600

 [11097 rows x 6 columns],
 'IBM': Price        Adj Close       Close        High         Low        Open  \
 Ticker             IBM         IBM         IBM         IBM         IBM
 Date
 1962-01-02    1.513321    7.291268    7.374124    7.291268    7.374124
 1962-01-03    1.526549    7.355003    7.355003    7.291268    7.291268
 1962-01-04    1.511337    7.281708    7.355003    7.278521    7.355003
 1962-01-05    1.481573    7.138305    7.272148    7.125558    7.272148
 1962-01-08    1.453794    7.004461    7.131931    6.947100    7.131931
 ...                ...         ...         ...         ...         ...
 2024-12-12  232.259995  232.259995  233.889999  230.380005  230.660004
 2024-12-13  230.820007  230.820007  233.779999  230.259995  232.250000
 2024-12-16  229.330002  229.330002  231.029999  226.880005  230.729996
 2024-12-17  228.970001  228.970001  230.199997  227.619995  229.229996
 2024-12-18  220.169998  220.169998  229.039993  220.029999  229.039993

 Price        Volume
 Ticker          IBM
 Date
 1962-01-02   407940
 1962-01-03   305955
 1962-01-04   274575
 1962-01-05   384405
 1962-01-08   572685
 ...             ...
 2024-12-12  4515700
 2024-12-13  2757400
 2024-12-16  3610300
 2024-12-17  3651300
 2024-12-18  4150400

 [15850 rows x 6 columns],
 'MSFT': Price        Adj Close       Close        High         Low        Open  \
 Ticker            MSFT        MSFT        MSFT        MSFT        MSFT
 Date
 1986-03-13    0.059827    0.097222    0.101563    0.088542    0.088542
 1986-03-14    0.061963    0.100694    0.102431    0.097222    0.097222
 1986-03-17    0.063032    0.102431    0.103299    0.100694    0.100694
 1986-03-18    0.061429    0.099826    0.103299    0.098958    0.102431
 1986-03-19    0.060361    0.098090    0.100694    0.097222    0.099826
 ...                ...         ...         ...         ...         ...
 2024-12-12  449.559998  449.559998  456.160004  449.109985  449.109985
 2024-12-13  447.269989  447.269989  451.429993  445.579987  448.440002
 2024-12-16  451.589996  451.589996  452.179993  445.279999  447.269989
 2024-12-17  454.459991  454.459991  455.290009  449.570007  451.010010
 2024-12-18  437.390015  437.390015  452.649994  437.019989  451.320007

 Price           Volume
 Ticker            MSFT
 Date
 1986-03-13  1031788800
 1986-03-14   308160000
 1986-03-17   133171200
 1986-03-18    67766400
 1986-03-19    47894400
 ...                ...
 2024-12-12    20834800
 2024-12-13    20177800
 2024-12-16    23598800
 2024-12-17    22733500
 2024-12-18    24358600

 [9771 rows x 6 columns],
 'GOOG': Price        Adj Close       Close        High         Low        Open  \
 Ticker            GOOG        GOOG        GOOG        GOOG        GOOG
 Date
 2004-08-19    2.490186    2.499133    2.591785    2.390042    2.490664
 2004-08-20    2.687981    2.697639    2.716817    2.503118    2.515820
 2004-08-23    2.715032    2.724787    2.826406    2.716070    2.758411
 2004-08-24    2.602609    2.611960    2.779581    2.579581    2.770615
 2004-08-25    2.630652    2.640104    2.689918    2.587302    2.614201
 ...                ...         ...         ...         ...         ...
 2024-12-12  193.630005  193.630005  196.705002  193.279999  196.300003
 2024-12-13  191.380005  191.380005  194.339996  191.259995  192.710007
 2024-12-16  198.160004  198.160004  200.639999  194.110001  194.365005
 2024-12-17  197.119995  197.119995  202.880005  196.690002  198.529999
 2024-12-18  190.149994  190.149994  198.690002  189.279999  196.830002

 Price          Volume
 Ticker           GOOG
 Date
 2004-08-19  897427216
 2004-08-20  458857488
 2004-08-23  366857939
 2004-08-24  306396159
 2004-08-25  184645512
 ...               ...
 2024-12-12   25197800
 2024-12-13   18883200
 2024-12-16   32248600
 2024-12-17   24129500
 2024-12-18   27554100

 [5119 rows x 6 columns]}

In [12]:
all_data['AAPL'].info()#欄位有兩個 是tuple

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11097 entries, 1980-12-12 to 2024-12-18
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  11097 non-null  float64
 1   (Close, AAPL)      11097 non-null  float64
 2   (High, AAPL)       11097 non-null  float64
 3   (Low, AAPL)        11097 non-null  float64
 4   (Open, AAPL)       11097 non-null  float64
 5   (Volume, AAPL)     11097 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 606.9 KB

In [13]:
aall_dat['AAPL'][('Adj Close', 'AAPL')]

NameError: name 'aall_dat' is not defined

In [ ]:
for key,value in {'tw':'taiwan','jp':'japan'}.items():
    print(key)
    print(value)
    #https://www.finlab.tw/pandas-%E9%AD%94%E6%B3%95%E7%AD%86%E8%A8%981-%E5%B8%B8%E7%94%A8%E6%8B%9B%E5%BC%8F%E7%B8%BD%E8%A6%BD/

In [18]:
new_data = {key:df[('Adj Close', key)] for key,df in all_data.items()}
new_data

{'AAPL': Date
 1980-12-12      0.098834
 1980-12-15      0.093678
 1980-12-16      0.086802
 1980-12-17      0.088951
 1980-12-18      0.091530
                  ...
 2024-12-12    247.960007
 2024-12-13    248.130005
 2024-12-16    251.039993
 2024-12-17    253.479996
 2024-12-18    248.050003
 Name: (Adj Close, AAPL), Length: 11097, dtype: float64,
 'IBM': Date
 1962-01-02      1.513321
 1962-01-03      1.526549
 1962-01-04      1.511337
 1962-01-05      1.481573
 1962-01-08      1.453794
                  ...
 2024-12-12    232.259995
 2024-12-13    230.820007
 2024-12-16    229.330002
 2024-12-17    228.970001
 2024-12-18    220.169998
 Name: (Adj Close, IBM), Length: 15850, dtype: float64,
 'MSFT': Date
 1986-03-13      0.059827
 1986-03-14      0.061963
 1986-03-17      0.063032
 1986-03-18      0.061429
 1986-03-19      0.060361
                  ...
 2024-12-12    449.559998
 2024-12-13    447.269989
 2024-12-16    451.589996
 2024-12-17    454.459991
 2024-12-18    437.390015
 Name: (Adj Close, MSFT), Length: 9771, dtype: float64,
 'GOOG': Date
 2004-08-19      2.490186
 2004-08-20      2.687981
 2004-08-23      2.715032
 2004-08-24      2.602609
 2004-08-25      2.630652
                  ...
 2024-12-12    193.630005
 2024-12-13    191.380005
 2024-12-16    198.160004
 2024-12-17    197.119995
 2024-12-18    190.149994
 Name: (Adj Close, GOOG), Length: 5119, dtype: float64}

In [14]:
import pandas as pd
pd.DataFrame(new_data)

                  AAPL         IBM        MSFT        GOOG
Date
1962-01-02         NaN    1.513321         NaN         NaN
1962-01-03         NaN    1.526549         NaN         NaN
1962-01-04         NaN    1.511337         NaN         NaN
1962-01-05         NaN    1.481574         NaN         NaN
1962-01-08         NaN    1.453793         NaN         NaN
...                ...         ...         ...         ...
2024-12-10  247.770004  231.720001  443.329987  186.529999
2024-12-11  246.490005  230.119995  448.989990  196.710007
2024-12-12  247.960007  232.259995  449.559998  193.630005
2024-12-13  248.130005  230.820007  447.269989  191.380005
2024-12-16  251.039993  229.330002  451.589996  198.160004

[15848 rows x 4 columns]